VITE_FIREBASE_API_KEY=AIzaSyBnghpMIzv4QLBmqtRkqy6SLDMqxYbqau0
VITE_FIREBASE_AUTH_DOMAIN=inventory-management-6e911.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=inventory-management-6e911
VITE_FIREBASE_STORAGE_BUCKET=inventory-management-6e911.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=679650085346
VITE_FIREBASE_APP_ID=1:679650085346:web:7a2ce8f0e6ffa7f13491bb
